.md-typeset blockquote {
    color: #007ACC; 
    font-style: italic;
}
[dir=ltr] .md-typeset blockquote {
    border-left: 5px solid #003366;
}

footer {
    text-align: center;
    font-size: small;
    font-family: inherit;
}